#create-screenshot-modal.modal.fade{ role: 'dialog', aria: { labelledby: 'create-screenshot-modal-label' }, tabindex: -1 }
	.modal-dialog{ role: 'document' }
		.modal-content
			= form_for :create, method: :post, html: { id: 'create-screenshot-form', class: 'form-vertical' } do |form|
				.modal-header
					%button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: '关闭' } }
						%span.fa.fa-times
					%h4#create-screenshot-modal-label.modal-title
						%span.fa.fa-upload
						上传图片
				.modal-body
					.row
						.col-md-12.form-group
							= form.label :screenshot, class: 'control-label', accept: 'image/jpeg' do
								选择文件
							= form.file_field :screenshot, class: 'form-control', required: true
				.modal-footer
					%button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
						关闭
					%button.btn.btn-primary{ type: 'submit' }
						上传