%table#index-table.table.table-striped.table-bordered{ width: '100%' }
	%thead
		%tr
			%th
			%th 发现时间
			%th 处理时间
			%th 来源
			%th URL
			%th 状态
			%th 操作
	%tbody
	%tfoot
		%tr
			%th
			%th 发现时间
			%th 处理时间
			%th 来源
			%th URL
			%th 状态
			%th 操作