.zoom {
	display:inline-block;
	position: relative;
	&:after {
		content:'';
		display:block;
		width:33px;
		height:33px;
		position:absolute;
		top:0;
		right:0;
		background:url(jquery-zoom/icon.png);
	}
	img {
		display: block;
		&::selection {
			background-color: transparent;
		}
	}
}