.wrapper
	.content-wrapper
		%section.content-header
			%h1
				白名单
		%section.content
			.row
				.col-md-12
					.box.box-primary
						.box-body
							= render 'frames/whites/create_white_form'
			.row
				.col-md-12
					.box.box-info
						.box-body
							= render 'frames/whites/index_white_table'