.wrapper
	.content-wrapper
		%section.content
			.row
				.col-md-12
					.box
						.box-body
							= render 'frames/whites/create_form'
					.box
						.box-body
							= render 'frames/whites/index_table'