.wrapper
	.content-wrapper
		%section.content-header
			%h1
				= translate 'index.index.sidebar.whites'
		%section.content
			.row
				.col-md-12
					.box.box-primary
						.box-body
							= render 'frames/whites/toolbar'
			.row
				.col-md-12
					.box.box-info
						.box-body
							= render 'frames/whites/display'