@import 'font-awesome/variables';
@import 'helper/dataTables_';
@import 'helper/select2_';
@import 'helper/datetimepicker_';
@import 'iCheck/skins/square/all';

#progress-bar {
	min-width: 15ex;
}

#refresh-control {
	&.start {
		.fa:before {
			content: $fa-var-play;
		}
		&:after {
			content: '启动';
		}
	}
	&.pause {
		.fa:before {
			content: $fa-var-pause;
		}
		&:after {
			content: '暂停';
		}
	}
}
