%footer.main-footer
	%span{ lang: 'en' }
		%strong
			Copyright © 2015-2016
			%a{ href: 'http://www.famessoft.com/', target: '_blank' }
				Famessoft
			\.
		All rights reserved.
	= image_tag 'logo.svg', class: 'brand-logo pull-right', alt: '招商银行'