%aside.main-sidebar
	%section.sidebar
		%ul.sidebar-menu
			- if can? :read, Report
				%li
					= link_to reports_frame_url, target: 'main', class: 'nav-item' do
						%i.fa.fa-desktop
						%span
							网站列表
			- if can? :check, Report
				%li
					%a.nav-item{ href: '#',  target: 'main' }
						%i.fa.fa-bar-chart
						%span
							数据报表
			- if can? :manage, White
				%li
					%a.nav-item{ href: whites_frame_url,  target: 'main' }
						%i.fa.fa-list-ul
						%span
							白名单管理
			%li.treeview
				%a.dropdown-toggle{ role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } }
					%i.fa.fa-gear
					%span
						系统管理
					%span.fa.fa-angle-left.pull-right
				%ul.treeview-menu
					- if can? :manage, User
						%li
							%a.nav-item{ href: users_frame_url, target: 'main' }
								用户
					- if can? :manage, Role
						%li
							%a.nav-item{ href: '#', target:'main' }
								角色